<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Corporación Cobefar</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

 
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

</head>

<body>
    <style>
        html {
            font-size: 14px;
            height: 100%;
            position: relative;
            min-height: 100%;
        }

        body {
            margin: 0;
        }

        main {
            flex: 1;
        }

        .hero-highlight {
            color: #4f8c4c;
            font-weight: 700;
        }

        .ui-bg-soft {
            background-color: #eff1fb;
        }

        .ui-text-primary {
            color: #21359e;
        }

        .ui-text-muted {
            color: #686868;
        }

        .ui-bg-primary {
            background-color: #21359e;
        }
</style>

    <div class="container-fluid ui-bg-primary min-vh-100 p-0">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false) <!--Toma el contenido de section Scripts de cada vista y los ubica aqui, despues de los scripts principales-->

</body>
</html>